[submodule "PhysicsSimulator"]
	path = PhysicsSimulator
	url = git@github.com:RyosukeMatsushima/PhysicsSimulator.git
[submodule "submodule/PhysicsSimulator"]
	path = submodule/PhysicsSimulator
	url = git@github.com:RyosukeMatsushima/PhysicsSimulator.git
