[submodule "PhysicsSimulator"]
	path = PhysicsSimulator
	url = git@github.com:RyosukeMatsushima/PhysicsSimulator.git
[submodule "src/submodule/PhysicsSimulator"]
	path = src/submodule/PhysicsSimulator
	url = git@github.com:RyosukeMatsushima/PhysicsSimulator.git
